@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: Montserrat;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
}
body {
  font: 19px/23px Montserrat, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}
* {
  margin: 0;
  padding: 0;
}
